@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.header{
    font-family: "League Spartan", sans-serif;
    position: absolute;
    margin: 50px;
    z-index: 10;
}

.header a{
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
}

.logo a{
    font-size: xx-large;
    margin-right: 20px;
}

.slider{
    display: flex;
}

.image-slider{
    position: relative;
    z-index: 1;
    top: 0;
}

.button{
    background-color: black;
    width: max-content;
    height: max-content;
    padding: 10px;
}

.back, .forward{
    padding: 10px;
    cursor: pointer;
    
}

@media screen, (max-width = 1220px) {
    .button{
        position: relative;
        top: 464px;
    }

    
}