@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

*{
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    position: absolute;
    margin: 50px;
    z-index: 10;
}

.header a{
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: #FFFFFF;
    padding: 10px;
}

.slider{
    display: flex;
}

.image-slider{
    position: relative;
    z-index: 1;
    top: 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: end;
}

.button{
    background-color: black;
    text-align: center;
    height: fit-content;
    width: max-content;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.button:hover{
    background-color: #979797;
}

.back, .forward{
    padding: 10px;
    cursor: pointer;
   
    
}

.hero{
    position: absolute;
    z-index: 10;
}

.hero .info{
    color: #D9D9D9;
}

.link img{
    margin-left: 10px;
}

.hero .heading, .info, .link{
    margin-bottom: 20px;
}

.hero .link:hover{
    color: #979797;
    cursor: pointer;
}

.link span{
    text-transform: uppercase;
    word-spacing: 10px;
    letter-spacing: 5px;
    text-shadow: 2px 2px gainsboro;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
}

.about-heading{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 5px;
    padding-top: 40px;
    padding-left: 30px;
}

.about-info{
    color: #D9D9D9;
    font-size: 16px;
    padding: 30px;
}

.hamburger{
    display: none;
}

.dropdown {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
  
.dropdown.show {
    display: flex;
    
}
  
.dropdown-content {
    position: fixed;
    top: 0%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 30px;
}
  
.dropdown-content a {
    color: #333;
    text-decoration: none;
    
   
}
  
.close {
    cursor: pointer;
}

@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .header{
        margin: 0;
    }

    .slider{
        display: block;
    }

    .about img{
        display: block;
        width: 52.5em;
    }

    .nav-links{
        display: none;
    }

    .logo{
        position: absolute;
        top: 0.5rem;
        margin-left: 19rem;
        margin-top: 2rem;
        font-size: 3rem;
        padding: 0;
    }

    .hamburger{
        display: flex;
        width: 2rem;
        height: 2rem;
        margin: 3rem;
        cursor: pointer;
    }

    .image-slider{
        position: relative;
        z-index: 1;
        top: 0;
    }

    .buttons{
        display: flex;
        position: absolute;
        right: 0;
        top: 29rem;
        left: 49rem;
    }

    .hero{
        position: relative;
        padding: 5rem;
        width: 52.5rem;
    }

    .heading{
        font-size: 5rem;
        font-weight: 500;
    }

    .info{
        font-size: 2rem;
    }

    .link span{
        font-size: 1rem;
        font-weight: 500;
        word-spacing: 15px;
        letter-spacing: 10px;

    }

    .about{
        width: 52.5rem;
    }

    .about-heading, .about-info{
        font-size: 2rem;

    }
      
    .close{
        cursor: pointer;
    }

    .dropdown-content{
        width: 52.5rem;
        height: 13rem;
    }

    .dropdown-content a{
        font-size: 2rem;
    }

}



@media (min-width: 1000px) {

    .logo a{
        font-size: xx-large;
        margin-right: 20px;
    }

    .button{
        width: 3rem;
    }

    .heading{
        font-size: 3rem;
        font-weight: 500;
    }

    .about{
        display: flex;
        
    }

    .hero{
        position: absolute;
        right: 0;
        width: 25rem;
        padding: 5rem;
        
    }
    .nav-links a{
        position: relative;
        display: inline-block;
        transition: color 0.3s ease;
    }

    .nav-links a:hover{
        color: #FFFFFF;
    }

    .nav-links a::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #FFFFFF; 
        transition: width 0.3s ease; 
      
    }

    .nav-links a:hover::after {
        width: 50%;
    }

    .image-slider{
        width: 60%;
    }

    .about img{
        width: 27.5rem;
        height: 17rem;
    }
}

